version: '3.8'
services:
  app:
    build: ./docker/php
    container_name: laravel_app
    volumes:
      - ./backend:/var/www/html
      # default.confを明示的にマウント
      - ./docker/apache/default.conf:/etc/apache2/sites-enabled/000-default.conf
    depends_on:
      - db
    environment:
      - APP_ENV=local  # 環境を開発モードに設定
    ports:
      - "8000:80"

  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  frontend:
    image: node:18
    container_name: react_app
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    command: sh -c "npm install && npm start"
    environment:
      - CHOKIDAR_USEPOLLING=true # ファイル変更を検知するための設定

volumes:
  db_data:
